.yarn
.pnp.*

.DS_Store
paper
node_modules
/dist

# local env files
.local_env
.env.local
.env.*.local
.start_local_*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
pagekite.py

*.pem

# ESLint cache file
.eslintcache

yarn.lock

