@import '~vuetify/src/styles/styles.sass';
@import 'variables';

// General
.bottom-btn {
  box-shadow: $shadow-bottom-btn;
  position: fixed;
  bottom: 0;
  width: $width-bottom-btn;
  text-align: center;
  padding-top: $space-1;
  padding-bottom: $space-1;
  background-color: $color-white;
}

.v-row.compact-row {
  margin-top: $space-0;
}

.v-col.compact-col {
  padding-top: $space-0;
}

.v-col.compact-col2 {
  padding-top: $space-0;
  padding-bottom: $space-0;
}

.vh-100 {
  height: $height-viewport;
}

.v-btn.slim-btn {
  padding: $space-0 $space-1-5;
}

%c-card-base {
  box-shadow: $shadow-card-default;
}

.c-card {
  @extend %c-card-base;
}

.shadow-card {
  @extend %c-card-base;
  padding: $space-3;
}

%c-card-blue-base {
  box-shadow: $shadow-card-blue;
}

.c-card-blue {
  @extend %c-card-base;
}

.shadow-card-blue {
  @extend %c-card-base;
  padding: $space-3;
  background: $color-white;

  @media screen and (max-width: $breakpoint-xs) {
    box-shadow: none;
  }
}

.v-col.less-top-padding {
  padding-top: $space-0;
}

.v-col.less-left-right-padding {
  padding-left: $space-2;
  padding-right: $space-2;
}

.v-col.fixed-narrow-col {
  max-width: $max-width-content;
}

.v-col.fixed-narrow-sidecol {
  max-width: $max-width-sidebar;
}

// Editor/Preview
.vditor-preview {
  .vditor-reset {
    padding: $space-0-5 $space-0-5;
  }
}

.v-application {
  .title,
  .text-h5,
  .headline {
    -webkit-font-smoothing: auto;
  }
}

.v-application {
  .vditor-reset,
  .ProseMirror {
    font-family: $body-font-family;
    line-height: $rich-text-line-height;
    color: $rich-text-color;
    -webkit-font-smoothing: auto;
  }
}

.comment-item {
  .vditor-reset,
  .ProseMirror {
    -webkit-font-smoothing: antialiased;
  }
}

.simple-editor h1,
.simple-editor h2,
.simple-editor h3 {
  border-bottom: none;
  font-family: $body-font-family;
  font-size: $font-size-root;
  color: $rich-text-color;
  margin-top: $space-4;
  margin-bottom: $space-4;
}

.simple-editor img {
  max-height: $max-height-simple-image;
}

.simple-editor p {
  margin-bottom: $space-4;
}

.vditor-reset a {
  text-decoration: none;
}

.viewer a {
  text-decoration: none;
}

.simple-viewer img {
  max-height: $max-height-simple-image;
  max-width: $width-full;
}

.v-application .title {
  font-weight: $font-weight-normal;
}

.simple-viewer {
  font-family: $body-font-family;
  font-size: $font-size-root;
  color: $rich-text-color;
}

.simple-viewer h1,
.simple-viewer h2,
.simple-viewer h3 {
  border-bottom: none;
  font-family: $body-font-family;
  font-size: $font-size-root;
  color: $rich-text-color;
  margin-top: $space-4;
  margin-bottom: $space-4;
}

.simple-viewer p {
  margin-bottom: $space-4;
}

.viewer .ProseMirror {
  padding-left: $space-0;
  padding-right: $space-0;
  line-height: $rich-text-line-height;
}

.viewer-desktop img {
  max-height: $max-height-viewer-image;
}

.viewer img {
  max-width: $width-full;
}

.viewer {
  font-family: $body-font-family;
  font-size: $font-size-root;
  color: $rich-text-color;
}

.og-card {
  border: $border-width-thin $color-border-light solid;
  border-radius: $border-radius-small;
  padding: $space-1-5;
  width: fit-content;
}

.og-card img {
  max-width: $max-width-og-card-image;
}

.og-card-desc {
  padding-top: $space-1-5;
}

//// For ChafanTiptap
.v-application code {
  background: none;
}

.vditor {
  --textarea-background-color: $color-white;
}

.vditor-sv {
  font-family: $code-font-family;
}

// Comment
.v-list-item.comment-item {
  margin-left: $space-0;
  margin-right: $space-0;
  padding-left: $space-0;
  padding-right: $space-0;
}

.comment-reply {
  border-left: $border-width-medium solid $color-border-light;
  border-radius: 0 0 0 $border-radius-medium;
}

.reply-item {
  padding-right: $space-0;
  word-break: break-all;
}

.site-desc {
  word-break: break-all;
}

.quote-card {
  border-left: $border-width-medium solid $color-border-light;
}

// Event
.event-span a {
  text-decoration: none;
}

.search-item-card {
  border: $border-width-thin solid $color-border-light;
  border-radius: $border-radius-small;
}

// Main
.search-box {
  min-width: $width-search-box-min;
  max-width: $width-search-box-max;
}

.app-bar-inner {
  width: $width-full;
}

.opacity-none:before {
  opacity: $opacity-transparent;
}

.v-list-item__action:first-child,
.v-list-item__icon:first-child {
  margin-right: $space-5;
}

// User profile edit

.v-col.avatar-col {
  max-width: $max-width-avatar;
}

// KaTeX stuff

span .mord.overline {
  all: inherit;
}
