@import '~vuetify/src/styles/styles.sass';
@import 'variables';

// General
.compact-row {
  margin-top: 0 !important;
}

.vh-100 {
  height: 100vh !important;
}

.slim-btn {
  padding: 0 5px !important;
}

%c-card-base {
  box-shadow: 0 5px 10px -10px rgba(85, 85, 85, 0.08), 0 10px 20px 0 rgba(85, 85, 85, 0.06),
    0 15px 30px 0 rgba(85, 85, 85, 0.03) !important;
}

.c-card {
  @extend %c-card-base;
}

.shadow-card {
  @extend %c-card-base;
  padding: 8px;
}

.less-top-padding {
  padding-top: 0 !important;
}

.less-left-right-padding {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.fixed-narrow-col {
  max-width: 800px !important;
}

.fixed-narrow-sidecol {
  max-width: 400px !important;
}

// Editor/Preview
.vditor-preview {
  .vditor-reset {
    padding: 2px 2px;
  }
}

.vditor-reset {
  font-family: $body-font-family;
  line-height: $rich-text-line-height;
  color: $rich-text-color;
}

.simple-editor h1,
.simple-editor h2,
.simple-editor h3 {
  border-bottom: none !important;
  font-family: $body-font-family;
  font-size: $font-size-root;
  color: $rich-text-color;
  margin-top: 10px;
  margin-bottom: 10px;
}

.simple-editor img {
  max-height: 100px;
}

.simple-editor p {
  margin-bottom: 10px;
}

.vditor-reset a {
  text-decoration: none !important;
}

.viewer a {
  text-decoration: none !important;
}

.simple-viewer img {
  max-height: 100px;
  max-width: 100%;
}

.simple-viewer {
  font-family: $body-font-family;
  font-size: $font-size-root;
  color: $rich-text-color;
}

.simple-viewer h1,
.simple-viewer h2,
.simple-viewer h3 {
  border-bottom: none !important;
  font-family: $body-font-family;
  font-size: $font-size-root;
  color: $rich-text-color;
  margin-top: 10px;
  margin-bottom: 10px;
}

.simple-viewer p {
  margin-bottom: 10px;
}

.viewer .ProseMirror {
  padding-left: 0;
  padding-right: 0;
  line-height: $rich-text-line-height;
}

.viewer-desktop img {
  max-height: 500px;
}

.viewer img {
  max-width: 100%;
}

.viewer {
  font-family: $body-font-family;
  font-size: $font-size-root;
  color: $rich-text-color;
}

.og-card {
  border: 1px lightgrey solid;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
}

.og-card img {
  max-width: 500px;
}

.og-card-desc {
  padding-top: 5px;
}

//// For ChafanTiptap
.v-application code {
  background: none !important;
}

.vditor {
  --textarea-background-color: white;
}

.vditor-sv {
  font-family: mononoki, Consolas, Liberation Mono, Menlo, Courier, monospace, Apple Color Emoji,
    Segoe UI Emoji, Noto Color Emoji, Segoe UI Symbol, Android Emoji, EmojiSymbols;
}

// Comment
.comment-item {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.comment-reply {
  border-left: 2px solid lightgrey;
  border-radius: 0 0 0 10px;
}

.reply-item {
  padding-right: 0;
  word-break: break-all;
}

.quote-card {
  border-left: 2px solid lightgrey;
}

// Event
.event-span a {
  text-decoration: none;
}

.search-item-card {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

// Main
.search-box {
  min-width: 20%;
  max-width: 40%;
}

.app-bar-inner {
  width: 100%;
}

.opacity-none:before {
  opacity: 0 !important;
}

.v-list-item__action:first-child,
.v-list-item__icon:first-child {
  margin-right: 14px !important;
}

// User profile edit

.avatar-col {
  max-width: 180px !important;
}
