$body-font-family: '-apple-system', 'Roboto', 'BlinkMacSystemFont', 'Helvetica Neue', 'PingFang SC',
  sans-serif, 'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei';
$rich-text-line-height: 1.7;
$rich-text-color: rgb(18, 18, 18);
