# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [master, dev, preview]
  pull_request:
    branches: [master, preview]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 22.16.0

      - name: Enable Corepack
        run: corepack enable

      - name: Build
        run: |
          source example.env
          ./cloudflare.build.sh
      - name: Check linting etc.
        run: |
          yarn --version
          #yarn run check:eslint
          #yarn run check:prettier
      - name: Unit tests
        run: |
          yarn --version
          #yarn run test:unit
      - name: CSS Lint
        run: npm run lint:css || true
